.goto {
  position: fixed;
  font-size: 14px;
  right: 50px;
  width: 135px;
  height: 45px;
  background: #fff url(../../../ossweb-img/image/ic_forward.png) no-repeat;
  background-position: 130px center;
  color: #116fe1;
  line-height: 45px;
  text-align: center;
  padding-right: 20px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.upload {
  top: 107px;
}

.all {
  top: 107+10+45px;
}
.somesomesome{
  font:100px;
}
