#mentor {
  position: relative;
  .nav-info{
    width: 810px;
  }
  .title .title-info {
    width: 655px;
  }
  .swiper-slide{
    margin-top:30px;
  }
  .info {
    position: relative;
    ul {
      width: 700px;
      padding-left: 72px;
      clear: both;
      display: inline-block;
    }
    li {
      text-align: center;
      float: left;
      margin-right: 30px;
      margin-bottom: 20px;
      overflow: hidden;
      &:first-child {
        margin-left: 0;
      }
      .image {
        border: 4px solid #136fe4;
        width: 192px;
        height: 186px;
        overflow: hidden;
      }
      img {
        width: 100%;
        height:auto;
      }
      .info {
        margin-top: 0;
      }
    }
  }
  .person-info {
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: #2471dd;
    font-weight: bold;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    margin-top: -23px;
    cursor: pointer;
  }
  .swiper-button-next {right: 184px;
      transform: rotate(180deg);}
  .swiper-button-prev,
  .swiper-button-next {
    background: none;
  }
}
.swiper-content{
  position: relative;
}
.swiper-element{
  position: absolute;
  top:0;
}
