#app {
  min-width: 1440px;
  font-size: 14px;
  font-family: 'Microsoft YaHei', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  .slide,
  .button {
    z-index: 99;
  }
  .button {
    cursor: pointer;
  }
  .first-title{
    font-size: 24px;
  }
  .second-title{
    font-size: 16px;
  }
  .blue-font{
    color:#136fe4;
  }
  .blodTitle{
    font-weight: bold;
  }
}

.view {
  position: relative;
  height: 100%;
  margin: 0 auto;
  z-index: 98;
  color: #fff;
}

.info.scroll {
  height: 680px;
  margin-top: 90px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.nav-info {
  width: 655px;
}


/* 设置滚动条的样式 */

.scroll::-webkit-scrollbar {
  width: 6px;
}


/* 滚动槽 */

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(85,161,255,0);
  border-radius: 15px;
}

/* 滚动条滑块 */

.scroll::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  background: rgba(85,161,255,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(85,161,255,0.3);
  border-radius: 15px;

}
