.nav-title {
  .name {
    font-weight: bold;
  }
}

.game-info {
  margin-top: 30px;
}

.members {
  margin-top:20px;
  p {
    margin-top: 20px;
  }
  table {
    margin-top:10px;
    tr {
      th,
      td {
        padding: 3px 0;
      }
    }
  }
}

table {
  width: 50%;
  th,
  td {
    text-align: left;
  }
  td {
    color: #2c8aff;
  }
}

embed {
  margin-top: 50px;
  width: 640px;
  height: 500px;
}


.nav-guide{
  font-size: 12px;
  margin-bottom:15px;
  cursor:pointer;
}