.nav-title {
  .name {
    font-weight: bold;
  }
}

#activity-info {
  .game-info {
    margin-top: 30px;
    p{
      width: 650px;
    }
  }
}

.members {
  margin-top: 20px;
  p {
    margin-top: 20px;
  }
  table {
    margin-top: 10px;
    tr {
      th,
      td {
        padding: 3px 0;
      }
    }
  }
}

table {
  width: 50%;
  th,
  td {
    text-align: left;
  }
}

embed {
  margin-top: 50px;
  width: 650px;
  height: 500px;
}

.nav-guide {
  font-size: 12px;
  margin-bottom: 15px;
  cursor: pointer;
}

.game-ppt {
  margin-top: 20px;
}
