#rule {
  .info {
    width: 770px;
    .info-title.first {
      margin-top: 0;
    }
    .info-title,
    .info-main {
      width: 735px;
    }
    .info-title {
      margin-top: 30px;
      color: #2b85f6;
      font-size: 18px;
    }
    .info-main {
      margin-top: 10px;
      li {
        position: relative;
        margin-top: 5px;
        padding-left: 35px;
        label {
          position: absolute;
          left: 0;
        }
      }
      p {
        margin-top: 5px;
        .color {
          display:inline-block;
          color: #2b85f6;
          margin-top: 15px;
        }
      }
    }
  }
}
