#activity-info{
  .info{
    margin-top:90px;
    width: 735px;
    padding-right: 45px;
    height:650px;
    overflow-y: scroll;
    p{
      margin-top:10px;
    }
    img{
      margin:30px 0;
    }
  }
}