.timeline {
  position: relative;
  margin-top: 70px;
  width: 900px;
  height: 70px;
  background: url(../../../ossweb-img/image/timeline-2.png) no-repeat;
  background-position-x: 70px;
  background-position-y: 25px;
  .line {
    margin-left: 40px;
  }
  ul {
    width: 100%;
    clear: both;
    display: table;
    li {
      float: left;
      position: absolute;
      .point {
        position: absolute;
        width: 30px;
        height: 30px;
      }
      .info {
        position: relative;
        width: 185px;
      }
      &.time-1 {
        top: 40px;
        left: 0;
        .point {
          left: 20px;
        }
        .info {
          top: -50px;
        }
      }
      &.time-2 {
        top: 10px;
        left: 218px;
        .point {
          left: 0px;
        }
        .info {
          top: 40px;
        }
      }
      &.time-3 {
        top: 30px;
        left: 385px;
        .info {
          top: -65px;
          left: 15px;
        }
      }
      &.time-4 {
        top: 20px;
        left: 580px;
        .point {
          top: 10px;
        }
        .info {
          left: 10px;
          top: 45px;
        }
      }
      &.time-5 {
        top: 5px;
        left: 750px;
        .point {
          left: 0;
        }
        .info {
          top: -50px;
          left: 10px;
        }
      }
      p {
        padding: 0;
        line-height: 18px;
      }
    }
  }
}

.tab-content {
  margin-top: 65px;
  width: 990px;
  .tab {
    span {
      line-height: 40px;
      display: inline-block;
      width: 170px;
      color: #136fe4;
      cursor: pointer;
      text-align: center;
      background-color: #0e3b73;
      &.selected {
        background-color: #136fe4;
        color: #fff;
      }
    }
  }
  .info {
    margin-top: 20px;
    span {
      font-size: 14px;
    }
    p {
      margin: 5px 0;
    }
    .info-1 {
      p {
        width: 640px;
        margin-top: 10px;
        text-align: justify;
      }
    }
    .left {
      width: 640px;
      p,
      ul {
        width: 85%;
      }
    }
    .right {
      width: 640px;
      margin-top: 30px;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        position: relative;
        margin: 5px 0;
        span {
          position: absolute;
          left: 0;
          top: 2px;
          display: inline-block;
          width: 17px;
          height: 17px;
          margin-right: 10px;
          background-color: #136fe4;
          text-align: center;
          border-radius: 50%;
        }
      }
    }
  }
  .down-tempalte {
    margin-top: 50px;
  }
  .download {
    margin-top: 10px;
    display: block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    background: #2c8aff url(../../../ossweb-img/image/download.png) no-repeat;
    background-position-x: 43px;
    background-position-y: 18px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding-left: 20px;
  }
}
